
body{
    margin: 0;
    background-color: #ecf0f1;
}
/* Ici commence le design de la barre de navigation tout en haut*/

/* Ajouter la couleur au background de laa barre de navigation*/

.topnav {
    background-color:#34495e;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    
}

/* Mettre un design aux liens à l'intérieur de la barre de navigation */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Changer la couleur des liens au passage de la souris */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Ajouter une couleur au lien active/courant  */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* on définit laa taille des icones */
.topnav img.icone {
    width: 16px;
    height: 16px;
}

.topnav a.left{
    float: right;
    margin-right: 20px
}

/* Ici s'achève le design de la barre de navigation tout en haut*/

/* Ici commence le design des tables */

.tableau{
    
    border-top: 1px solid ;
    margin-top: 20px;
    height: 350px;
    overflow: scroll;
    border-bottom: 1px solid red;
}


.entete{
    height: 40px;
    background-color: #95a5a6;
    border: 1px solid black;

}

table{
    margin: 20px;
}


tr {
    height: 45px;
}
table, th, td {
    border: 1px solid #95a5a6;
    border-collapse: collapse;
}
.photo{
    width: 40px;
    height: 40px;
}
/* Ici s'achève le design des tables */


#controleArticles{
    margin-top: 70px;
    margin-left:20px;
    margin-right:20px;
    height: 300px;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;



}
form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

/*input[type=text],select {
    width: 250px;
    height: 30px;
    padding: 12px 10px;
    margin: 1px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/

.bouton_action{
    float: right;
    height: 30px;
    width: 70px;
    margin-left: 10px;
    margin-right: 40px;
    border-radius: 5px;
    position: relative;
    background-color: #3498db;
}

/* Bas de page */
footer{
    background-color: #34495e;
    color:white;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    text-align: center;
}  
