
body{
    margin: 0;
    background-color: #ecf0f1;
}
/* Bordered form */
form {
    border: 2px solid #bdc3c7;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
}

/* Full-width inputs */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bdc3c7;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #3498db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

