


#toutes_rubriques{

	margin:auto;
	margin-left: 10px;
	display: flex;
	justify-content: space-around;

}

.rubrique {
	margin-top: 20px;
	width: 140px;
	height: 60px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;

}

h3 {
	font-size: 16px;
	color: black;
	text-decoration: none;
}

h2{
	margin-left: 20px;
	
}

.--1 {
	background-color: #2ecc71;
}

.--2 {
	background-color: #bdc3c7;
}

.--3 {
	background-color: #2980b9;
}

.--4 {
	background-color: #e74c3c;
}

.--5 {
	background-color: #f1c40f;
}

.--6 {
	background-color: #7f8c8d;
}