/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


#navigation {
	background-color: white;
}

 .Logo
{
	/*top: 10px;
	left: 0.2px;
	right: 5px;*/
	position: absolute;
	width: 150px;
	height: 170px;
}

.searchbar{

	display:flex;
	align-content: center;

    /*position:relative;
	top: 60px;
    width:600px;
    height:40px;
    margin-left: 300px;*/
    
}

.searchbar .text
{
    width:400px;
	  
}

.searchbar .champ
{
    width:400px;
    height:35px;
    border: 1px solid black;
    order: 1;

}

.searchbar .input
{
    
    height:35px;
    background-color: #95a5a6;
    border: 1px solid black;
    order: 1;

}



.d-block_img-fluid
{
	width: 900px;
	height: 350px;
}

.col-lg-9
{
	margin-left: 350px;
}

/* Début du code CSS pour le design du 
formulaire contact accessible dans le bouton contact */

#informations {
	height: 620px;
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 200px;
	border: 1px solid grey;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	/*position: absolute;*/
}

#informations p
{	

	color: blue;
}
/* Fin du code CSS pour le design du 
formulaire contact accessible dans le bouton contact */


h1
{
	color: black;
}


.card-title a
{
	color: black;
}

.bas_page
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 400px;

}

.rubrique
{
	margin-top: 10px;
	color: white; 
}

.rubrique ul li:hover
{

	color: blue; 
}

.rubrique ul
{
	display: block;
	list-style-type:none;
 	
}

.emoticones
{
	width: 30px;
	height: 30px;
}

/* Pour les espaces entre des éleéments*/


.container {
	position: relative;
	z-index: 95;
}
.row{
	position: relative;
	z-index: 90;
}

/*Modal barre de recherche*/

#myModaly
{
	width: 400px;
	border: 1px solid black;
	margin-left: 630px;
	position: fixed;
	z-index: 100;
	top: 70px;
	background-color: white;
}

