
.tous_articles{
	display: flex;
	flex-wrap: wrap;
	width: 2000px;
	height:1200px;
	/*justify-content: space-between;*/
	align-content: flex-start;
	margin: auto;
	/*overflow: scroll;*/
	margin-top: 20px;
	margin-left: 50px;
}

.objet
{
	margin-top: 20px;
	margin-left: 10px;

}


.aticle{
	display: flex;
}

#Image{
	width: 250px;
	height: 250px;
	border:1px solid grey;
	border-radius: 5px;
	cursor: pointer;
	


}

#Image:hover {box-shadow:0 5px  #3e8e41}



#Image:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 0.2; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}



#infos{
	width: 250px;
	height: 90px;

	margin-top: 10px;
	border:1px solid grey;
	background-color: #bdc3c7;
}

#titre{
	margin-left: 20px;

}
#prix{

	margin-left: 20px;

}

.pagin{
	margin: 0 auto;
     width: 100px;
}