body{
	background-color: #ecf0f1;
}

#contenu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 70px;
}
.cadre{

	height: 350px;
	margin: 20px;
	width: 600px;
	border:1px solid #95a5a6;
	padding: 30px;
	border-radius: 10px;
}



.cadre-header{

	color: black;
	font-size: 20px;
	


}
.cadre-body{
	margin-top: 10px;
	
}

#bas_page{

	background-color: #34495e;
    color:white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;

}