/* On définit les règles d'encodage*/
@charset "UTF_8"
/* On enlève les marges et les paddigs par défaut */
body,html{
	padding: 0;
	margin: 0;
	
}

body{
	background-color: #ecf0f1;
}

.button_container{
	width: 100%;
	text-align: center;
}


#button_modal{
	height: 20px;
	width: 80px;
	background-color: blue;
	color: white;
	font-family: helvetica;
	font-size: 15px;
	border:none;
	cursor: pointer;
	margin-top: 200px;

}

#modal{
	z-index: 100;
	
	height: 380px;
	width: 220px;
	margin-top: 60px;
	margin-left: 650px;
	/*background-color: #bdc3c7;*/
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	font-family: helvetica;
	text-align: center;
	top:-1000px;
	position: absolute;
	left:35%;
	transition: 0.5s;


}


#modal h1{
	margin-top: 60px;
}


#close{
	height: 20px;
	width: 80px;
	background-color: #3498db;
	color: white;
	font-family: helvetica;
	font-size: 15px;
	border:none;
	cursor: pointer;
	margin-top: 0px;

}


#login{
	height: 20px;
	width: 80px;
	background-color: #3498db;
	color: white;
	font-family: helvetica;
	font-size: 15px;
	border:none;
	cursor: pointer;
	margin-top: 10px;

}

#log {
	z-index: 100;
	width: 180px;
	height: 260px;
	top: -1000px;
	/*background-color: #bdc3c7;*/
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	font-family: helvetica;
	text-align: center;
	position: absolute;
	transition: 0.1s;
	margin-top: -130px;
	margin-left: 1200px;

}

