
#contenu_page{
	width: 1950px;
}

h1{
	margin-top: 10px;
	margin-left: 70px;
}
table{
	margin-top: 50px;
	margin-left: 70px;
	
}

table, th, td {
    border: 1px solid black;

}

th, td {
    padding: 30px;
}

#entete{
	background-color: #7f8c8d;
}

#ligne{
	background-color: #ecf0f1;
}

#icone_suppr{
	width: 25px;
	height: 25px;
}



#solde{
	background-color: #ecf0f1;
	margin-left: 1535px;
}

#bouton_1{
	width: 200px;
	height: 50px;
	margin-top: 10px;
	margin-left: 70px;
	background-color: #3498db;
	border-radius: 10px;
}

#bouton_2{
	width: 200px;
	height: 50px;
	margin-top: 10px;
	margin-left: 1625px;
	margin-bottom: 20px;
	background-color: #3498db;
	border-radius: 10px;
}
