
/* Design de l'icône de chat */
#suges_chat {
    z-index: 99;
    height: 80px;
    width: 80px;
    top:800px;
    left: 20px;
    border:none;
    transition: 0.50s;
    cursor: pointer;
    position: absolute;
}

/* Design du chat et de son contenu */
#chat {
    z-index: 100;
    margin-top:300px;
    /*margin-left: 10px;*/
    margin-bottom: 20px;
    right: -1000px;
    height: 550px;
    width: 400px;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.05s;
    position: absolute;
    border-radius: 10px;
}

#haut_chat{
    height: 40px;
    width: 400px;
    display: flex;
    border: 1px solid #2d3436;
    background-color: #2d3436;
    border-radius: 10px;
}

/* Ici on fixe la taille du chat et 
donc les messages dépassant scrollent*/
#messages{
    height: 500px;
    width: 400px;
    overflow: scroll;
}





/* Chat containers */
.container_in_chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container_in_chat::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container_in_chat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container_in_chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

#bas_chat{

    height: 85px;
    width: 400px;
    display: flex;
    border: 1px solid #2d3436;
    background-color: #2d3436;
    border-radius: 10px;
    margin-top: 5px;

}
/* La zone de texte est celle en bas, 
dans laquelle on saisit du texte */

#zone_texte{

    height: 62px;
    width: 320px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
}

/* Bouton envoyer de la messagerie */

#bouton:hover{
    transform: scale(1.07);
}

#bouton{
    margin-top: 20px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border:none;
    transition: 0.50s;
    background: url(right-arrow.svg);
    background-size: cover;
    cursor: pointer;

}

/* Bouton fermer de la messagerie */

#bouton_fermer{

    margin-top: 10px;
    margin-left: 320px;
    height: 15px;
    width: 15px;
    border:none;
    background: url(clear-button.svg);
    background-size: cover;
    cursor: pointer;

}

/* Icone enveloppe dans le header de la messagerie */
#icone_chat{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border:none;
}